.input-search
	background #c1a1c1
	
.video
	width 100%
	height 150px
	max-height 150px
.form-control-nbr
	border-radius 10px 0 0 10px !important
	border 1px solid rgba(grey,.2) !important
	
.btn-nbr
	border-radius 0 10px 10px 0 !important
	border 1px solid rgba(grey,.5) !important
.w100
	width 100%
.menu-option
	border 1px solid #c1c1c1
	border-radius 50%
.menu
	margin-top 5em
.search
	margin-top 2em
.input-search
	background: rgba(grey,.2)
.btn-search
	background: rgba(grey,.5)
	
.title_panel_hotel
	background: rgba(#80cbc4, .75)
	position: absolute
	text-align center
	top 81%
	width 100%
	border-radius 0 0 1em 1em
	font-size: 20px
	color white
	
.panel_hotel
	cursor: pointer
	min-height 150px
	max-height 150px
	background blue
	max-width 100%
	border-radius 2em
	position relative
	
	margin-top 1em
	&:nth-child(1)
		margin-top 0
		
.table_cp
	transition .5s ease
	tr:hover
		cursor: pointer
		background rgba(lightblue,0.7) !important
		transition .5s ease-in
.row_table_selected
	background rgba(lightblue,0.7) !important